<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ordertaking.itaobuxiu.com.ordertaking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".engine.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DayPriceAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NewRequestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".ui.SpecActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RequestHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IronBuyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IronBuyHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IronOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.IronOfferHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PostChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BusinessScopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BaseUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.DataActivity" />
        <activity android:name=".ui.QuHelperActivity"></activity>
    </application>

</manifest>